In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.utils import resample

df=pd.read_csv(r'C:\Users\nitik\OneDrive\Documents\healthhack\Fitbit-data.csv')

df.head()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   9999 non-null   int64
 1   Weight                9999 non-null   int64
 2   SO02_level            9999 non-null   int64
 3   resting_heart_rate    9999 non-null   int64
 4   smoke normal          9999 non-null   bool
 5   Stress factor normal  9999 non-null   bool
 6   BMI                   9999 non-null   int64
 7   ECG_normal            9999 non-null   bool
 8   average_weekly_steps  9999 non-null   int64
 9   sleep_average_weekly  9999 non-null   int64
 10  HIIT                  9999 non-null   int64
 11  Insurance factor      9999 non-null   int64
dtypes: bool(3), int64(9)
memory usage: 732.5 KB

In [2]:
data= df[["SO02_level", "resting_heart_rate", "average_weekly_steps", "sleep_average_weekly"]]
data.head()

   SO02_level  resting_heart_rate  average_weekly_steps  sleep_average_weekly
0          99                  68                 13762                     5
1          99                  55                  1099                     5
2          90                  76                  7885                     9
3          87                  61                 11309                     8
4          89                  75                 12889                     8

In [3]:
data_2=data
import random

for x in range(9999):
    if(data_2.at[x,'sleep_average_weekly']>8):
        data_2.at[x,'sleep_average_weekly']=random.randint(5,7)

index_list=[]
for x in range(9999):
    if(data_2.at[x,'sleep_average_weekly']>6):
        index_list.append(x)

for j in range(1000):
       data_2.at[random.choice(index_list),'sleep_average_weekly']=random.randint(9,11)

In [4]:
rows=9999
new_col=[]
for j in range(9999):
    if(6<=data_2.at[j,'sleep_average_weekly']<=8 & 55<=data_2.at[j,'resting_heart_rate']<=85):
        new_col.append("Normal")
    else:
        new_col.append("Alert")
data_2.loc[:, "Class"] = new_col

counts = data_2['Class'].value_counts()

print(counts)

Class
Alert    9999
Name: count, dtype: int64

C:\Users\nitik\AppData\Local\Temp\ipykernel_28384\3698525250.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2.loc[:, "Class"] = new_col

In [5]:
counts = data['resting_heart_rate'].value_counts()

print(counts)

resting_heart_rate
56    462
61    432
55    414
67    410
58    383
76    382
57    350
75    342
51    342
77    340
63    340
73    332
53    330
69    330
64    330
70    320
62    320
60    312
71    312
80    310
52    302
74    302
50    302
59    300
66    274
79    260
65    250
54    242
72    230
78    230
68    214
Name: count, dtype: int64

In [6]:
# 55-70 20% to 70 to 85

In [7]:

index_list=[]
for x in range(9999):
    if(55<=data_2.at[x,'resting_heart_rate']<=70):
        index_list.append(x)

for j in range(1072):
       data_2.at[random.choice(index_list),'resting_heart_rate']=random.randint(69,86)

In [22]:
counts = data['sleep_average_weekly'].value_counts()

print(counts)

sleep_average_weekly
6     2658
5     2595
7     1912
4     1090
8      875
11     310
9      280
10     279
Name: count, dtype: int64

In [9]:
rows=9999
new_col=[]
for j in range(9999):
    if( 6<=data_2.at[j,'sleep_average_weekly']<=8 & 60<=data_2.at[j,'resting_heart_rate']<=85):
        new_col.append("Normal")
    else:
        new_col.append("Alert")
data_2.loc[:, "Class"] = new_col

counts = data_2['Class'].value_counts()

print(counts)

Class
Normal    5412
Alert     4587
Name: count, dtype: int64

In [37]:

rows=9999
new_col=[]
for j in range(9999):
    if( 6<=data_2.at[j,'sleep_average_weekly']<=8 & 60<=data_2.at[j,'resting_heart_rate']<=85 & 90<data_2.at[j, "SO02_level"]<100 & 6<=data_2.at[j,'sleep_average_weekly']<=8):
        new_col.append("Normal")
    else:
        new_col.append("Alert")
data_2.loc[:, "Class"] = new_col

counts = data_2['Class'].value_counts()

print(counts)

Class
Alert    9999
Name: count, dtype: int64

In [38]:
data_2.head()

,SO02_level,resting_heart_rate,average_weekly_steps,sleep_average_weekly,Class
0,99,68,13762,5,Alert
1,99,55,1099,5,Alert
2,90,76,7885,11,Alert
3,87,61,11309,8,Alert
4,89,75,12889,11,Alert

In [12]:
from sklearn.metrics  import f1_score,accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [13]:
data_2['Class'] = data_2['Class'].map({"Normal":0,'Alert':1})

C:\Users\nitik\AppData\Local\Temp\ipykernel_28384\494743411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Class'] = data_2['Class'].map({"Normal":0,'Alert':1})

In [14]:
data_2.head()

,SO02_level,resting_heart_rate,average_weekly_steps,sleep_average_weekly,Class
0,99,68,13762,5,1
1,99,55,1099,5,1
2,90,76,7885,11,1
3,87,61,11309,8,1
4,89,75,12889,11,1

In [15]:
x=data_2.drop(["Class"],axis=1)
y=data_2["Class"]

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25)

In [32]:
dtc = DecisionTreeClassifier()

In [33]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier()

In [34]:
y_pred = dtc.predict(x_test)

In [35]:
accuracy_score(y_pred,y_test)

1.0

In [36]:
counts = data['resting_heart_rate'].value_counts()

print(counts)

resting_heart_rate
76    439
75    394
73    391
77    385
80    365
71    361
74    357
56    355
61    349
55    344
51    342
69    338
67    333
53    330
58    321
70    314
79    306
50    302
52    302
72    296
78    287
63    283
57    279
64    275
60    260
59    258
62    257
54    242
66    228
65    204
68    178
81     58
84     58
86     56
85     51
83     51
82     50
Name: count, dtype: int64

In [ ]:
counts = data['resting_heart_rate'].value_counts()

print(counts)